body{
    padding: o;
    margin: 0;
}
nav{
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 150px;
    height: 50px;
}
nav input{
    width: 188px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: 1 px solid #999;
    padding: 8px 12px 10px;
    box-sizing: border-box;
    margin-right: 7px;
}
nav button{
    width: 76px;
    height: 40px;
    color: white;
    font-size: 17px;
    border-radius: 6px;
    background-color: #1877f2;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #1877f2;
    margin-right: 7px;
}
nav a{
    text-decoration: none;
    color: #216fdb;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 35px;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ebee;
    width: 100%;
    height: 436px;
}
.account{
    background-color: white;
    width: 500px;
    height: 276px;
    border-radius: 8px;
    box-shadow: 0 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.account p{
    margin-left: 18px;
    margin-left: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.account input{
    width: 91%;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #999;
    outline: none;
    display: block;
    margin: auto;
}
input[type=email]:focus{
    border: 1px solid blue;
}
input[type=password]:focus{
    border: 1px solid blue;
}
h3{
    margin: 0;
    padding: 18px 16px 18px 18px;
}
.account input::placeholder{
    font-size: 15px;
    padding-left: 15px;
}
.x{
    margin-top: 20px;
}
hr{
    border-bottom: 0.1px #999;
}
.search{
    color: white;
    background-color: #1877f2;
    border-radius: 6px;
    outline: none;
    border: 1px #1877f2;
    padding: 4px 6px;
    width: 76px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.cancel{
    width: 103px;
    height: 36px;
    background-color: #E4E6EB;
    border-radius: 6px;
    padding: 4px 6px;
    color: #4B4F56;
    outline: none;
    border: 1px solid #E4E6EB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 12px;
}
.btm{
    display: flex;
    justify-content: flex-end;

}
